# fly.toml app configuration file generated for mcp-apps-record on 2026-02-22T01:45:21Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'mcp-apps-record'
primary_region = 'lhr'

[build]
  dockerfile = 'Dockerfile'

[env]
  PORT = '8000'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
